header,
main,
footer {
    padding-left: 300px;
}

body {
    background-color: #eee;
}

.sidenav-trigger {
    display: none;
}

#slide-out {
    background-color: #151515;
}

#slide-out .cont_img {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 75px;
    height: 75px;
    margin: 30px 0px 30px 30px;
}

#slide-out img {
    width: 100%;
    height: 100%;
    transform: rotate(-20deg);
}

#slide-out li a,
#slide-out li a i {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

#slide-out .active {
    background-color: #039be5;
}

#slide-out .active2 {
    background-color: #0251a3;
}

#slide-out .active a,
#slide-out .active a i {
    color: white;
}

#slide-out .blac {
    background-color: black;
}

#slide-out .arrow_drop {
    float: right;
    margin: 0px;
}



header .parallax_top {
    height: 700px;
}

.parallax_top h1,
.parallax_top h5 {
    font-weight: 700;
    position: relative;
    color: white;
    z-index: 8;
    padding-right:20px;
}

.parallax_top .voile_bleu {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 720px;
    background-color: rgba(3, 155, 229, 0.8);
}

.section {
    background-color: #192633;
}

.section .icon {
    margin-top : 20px;
}

.section i {
    color : rgb(46, 163, 242);
    padding: 10px;
    font-size: 5em;
    border : 4px solid rgb(65, 230, 255);
    border-radius : 50%;
}

.section h4 {
    margin : 0;
    color: white;
}

.section p {
    color : white;
}

.nav_blue h1 {
    color: white;
    font-size: 2.5em;
    padding: 20px 0 0 100px;
}

header .nav_blue {
    height : 150px;
}



@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }

    .sidenav-trigger {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
        float: left;
        background-color: #0251a3;
    }

}